{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Code Your Way</h2>
          <p>The Beacon SDK connects you to Roll20 character sheet data, allowing you to create a modern web application using whatever tools you'd like. You are free to create a character sheet your way.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Develop Locally, Quickly</h2>
          <p>With the Beacon SDK, you can make edits and run them locally. Connect to the Roll20 sandboxes to instantly see your changes in Roll20 Tabletop or Roll20 Characters. Assign a compendium and access character data while building your sheet locally, making the development process swift and efficient.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Playtest Your Sheet</h2>
          <p>When you’re ready, release your sheet for a select group of people, giving them access to it in Roll20 Tabletop or Roll20 Characters. Gather feedback, make changes, and playtest it again with the same group. Build a sheet millions of players can enjoy.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
